@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9612 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9249 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.994 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.4447 0.0768 209.6869);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8853 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.4447 0.0768 209.6869);
  --accent-foreground: oklch(0.3217 0.055 205.9994);
  --destructive: oklch(0.462 0.1471 25.0184);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8047 0 0);
  --input: oklch(0.8452 0 0);
  --ring: oklch(0.4447 0.0768 209.6869);
  --chart-1: oklch(0.4447 0.0768 209.6869);
  --chart-2: oklch(0.6503 0.0559 209.747);
  --chart-3: oklch(0.7469 0.0159 207.0877);
  --chart-4: oklch(0.619 0.0325 248.3513);
  --chart-5: oklch(0.709 0 0);
  --sidebar: oklch(0.8853 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.4447 0.0768 209.6869);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4447 0.0768 209.6869);
  --sidebar-accent-foreground: oklch(0.3217 0.055 205.9994);
  --sidebar-border: oklch(0.8047 0 0);
  --sidebar-ring: oklch(0.4447 0.0768 209.6869);
  --font-sans: "IBM Plex Mono", monospace;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow:
    3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md:
    3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.5);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9612 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9612 0 0);
  --popover: oklch(0.1591 0 0);
  --popover-foreground: oklch(0.9612 0 0);
  --primary: oklch(0.5833 0.1008 209.8204);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.9612 0 0);
  --muted: oklch(0.3092 0 0);
  --muted-foreground: oklch(0.7668 0 0);
  --accent: oklch(0.5833 0.1008 209.8204);
  --accent-foreground: oklch(0.4447 0.0768 209.6869);
  --destructive: oklch(0.5594 0.19 25.8625);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.4202 0 0);
  --ring: oklch(0.5833 0.1008 209.8204);
  --chart-1: oklch(0.5833 0.1008 209.8204);
  --chart-2: oklch(0.7481 0.0606 204.1021);
  --chart-3: oklch(0.8012 0.0144 202.4224);
  --chart-4: oklch(0.756 0.0251 244.2367);
  --chart-5: oklch(0.8109 0 0);
  --sidebar: oklch(0.2686 0 0);
  --sidebar-foreground: oklch(0.9612 0 0);
  --sidebar-primary: oklch(0.5833 0.1008 209.8204);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5833 0.1008 209.8204);
  --sidebar-accent-foreground: oklch(0.4447 0.0768 209.6869);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.5833 0.1008 209.8204);
  --font-sans: "IBM Plex Mono", monospace;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    3px 3px 0px 0px hsl(0 0% 0% / 0.4), 3px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    3px 3px 0px 0px hsl(0 0% 0% / 0.4), 3px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    3px 3px 0px 0px hsl(0 0% 0% / 0.4), 3px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    3px 3px 0px 0px hsl(0 0% 0% / 0.4), 3px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    3px 3px 0px 0px hsl(0 0% 0% / 0.4), 3px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
